.from-container{
    padding:0 30px;
    max-width: 400px;
}
.title{
    color:#CC8800;
}

.from-container input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 5px;
    border: 0;
    border-bottom: 2px solid #CC8800;
}
.submit-btn{
    background-color: #CC8800;
    border: 0;
    padding: 7px 0;
}
.from-container input:focus{
    outline: none;
}